@charset "UTF-8";

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, section, article, aside, footer, header, nav, main {
    display: block;
    margin: 0;
    padding: 0;
    line-height: normal;
}

html, body {
    height: 100%;
}

html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 63%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  }
h1 { font-size: 3.5rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.2rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }





body {
    display: flex;
    flex-direction: column;
    color: #000;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background:#fff;
 
    font-size: 1.8rem;
    line-height: 1.6;
    overflow-x: hidden;
  background-image: url("../img/top/bg04.png");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
    z-index: -1;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* 黒っぽ*/
  z-index: -1;
}


header {
  background-color: #000;
  color: #fff;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #333638;
  margin: 1rem;
  padding: 1.1rem 2.6rem;
}

.logo {
  /* width: 100px; */
  height: 20%;
}

.text {
  display: flex;
  flex-direction: column;
}

.line1 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
}

.line2 {
  font-size: 20px;
  color: white;
}


.contact-info {
  font-size: 0.85em;
  line-height: 1.5;
  text-align: right;
}

.contact-info .tel-number {
  display: inline-block;
  background-color: #2360a1;
  color: white;
  padding: 4px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin: 5px 0;
  font-size: 1.4em;
}
/*
.contact-info .tel::before {
  content: "📞";
  margin-right: 5px;
}
*/
.contact-info .note {
  white-space: nowrap;
}

.hamburger {
  font-size: 1.6em;
  cursor: pointer;
  display: none;
}

.navbar {
  display: none;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #000;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.navbar li {
  flex: 1;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  text-align: center;
}

.navbar li:first-child {
  border-left: none;
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  padding: 14px 0;
  display: block;
  transition: background 0.3s;
}

.navbar li a:hover {
  background-color: #444;
}

.navbar.active {
  display: block;
}

.sp-contact-info {
  display: none;
}

/* PC */
@media (min-width: 769px) {
.logo {
flex: 1;
}

.contact-info {
flex: 1;
text-align: right;
}

.hamburger {
display: none;
}

.navbar {
display: block;
}

.contact-info .note {
white-space: normal;
}
}

@media (max-width: 768px) and (min-width: 480px) {
.top-bar {
flex-direction: row;
align-items: flex-start;
}

.logo {
flex: 1;
}

.logo img {
height: 30px;
}

.contact-info {
flex: 2;
text-align: center;
font-size: 0.85em;
margin-top: 5px;
display: none;
}

.hamburger {
display: block;
flex: 1;
text-align: right;
}

.navbar ul {
flex-direction: column;
}

.navbar li {
border-top: 1px solid #444;
border-left: none;
border-right: none;
}

.navbar li:first-child {
border-top: none;
}

.sp-contact-info {
display: block;
text-align: center;
font-size: 0.85em;
background-color: #111;
padding: 15px 10px 20px;
line-height: 1.5;
}
.sp-contact-comment {
margin-top: 1em;
}
.sp-contact-info .tel-number {
display: inline-block;
margin-top: 5px;
font-weight: bold;
background-color: #007bff;
color: #fff;
padding: 4px 10px;
border-radius: 5px;
font-size: 1.4em;
}
}

@media (max-width: 480px) {
  .header-wrapper {
    display: flex;
    flex-direction: row; /* 横並び */
    justify-content: space-between; /* 左右に配置 */
    align-items: center;
    padding: 10px 15px;
  }

  .logo-text {
    display: flex;
    flex-direction: column; /* ロゴとテキストを縦並び */
    align-items: flex-start; /* 左寄せに調整 */
    gap: 2px; /* ロゴとテキストの間隔 */
  }

  .logo img {
    width: 40px;
    height: auto;
  }

  .text {
    text-align: left;
    line-height: 1.2;
  }

  .line1 {
    font-size: 3.5vw;
    font-weight: bold;
  }

  .line2 {
    font-size: 3vw;
    color: #666;
  }

  /* ハンバーガーメニューは右端に配置される想定 */
  .hamburger {
    display: block; /* メニューの表示/非表示はJSで制御 */
  }
}






.container2 {
    flex: 1;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1.6em 1em;
    position: relative;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.swiper-slide-active .swiper-img,
.swiper-slide-duplicate-active .swiper-img,
.swiper-slide-prev .swiper-img {
  animation: zoomUp 7s linear 0s normal both;
}
@media screen and (min-width: 920px){
.swiper-slide img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}


.mainimg-key_ttl {
    color: white;
    font-size: 2.8rem;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
}
.mainimg-key p {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 3px #000000;
}

.mainimg-key {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width:100%;
    /* background: rgb(0 0 0 / 80%); */
    text-align:center;
    z-index: 1;
}
}
@media screen and (max-width: 920px){
.swiper-slide img {
    height: 460px;
    width: 100%;
    object-fit: cover;
}

.mainimg-key {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width:100%;
    /* background: rgb(0 0 0 / 80%); */
    text-align:center;
    z-index: 1;
    text-shadow: 2px 2px 3px black;
}
.mainimg-key_ttl {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.mainimg-key p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 3px black;
}
}





.srs_slider{
  position:relative;
}


.hero-nav {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  z-index: 10;
  max-width: 90%;
  width: 100%;
  justify-content: center;
}

.hero-btn {
  flex: 1;
  text-align: center;
  padding: 1rem 1rem;
  background: #700;
  color: #fff;
  font-weight: 700;
  border-radius: 3rem;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: background 0.3s, transform 0.3s;
  white-space: nowrap;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background: #900;
  color: #fff;
  transform: translateY(-5px);
}


@media (max-width: 768px) {
  .hero-nav {
    flex-wrap: wrap;
    top: 75%;
    gap: 1rem;
  }

  .hero-btn {
    flex: none;
    width: 48%;
    font-size: 1.95rem;
    padding: 0.8rem 1rem;
  }
}

.section-style {
  width: 100%;
  /* background-color: #f9f5f0; */
  padding: 20px 0;
  overflow-x: hidden;
}

h2.headline-title {
    border-bottom: 5px solid #d0ccff;
    padding: 8px 0;
    font-size: 3rem;
    margin: 2rem;
    color: #ffffff;
}
@media screen and (max-width: 768px) {
h2.headline-title {
    border-bottom: 5px solid #d0ccff;
    padding: 8px 0;
    font-size: 2.3rem;
    margin: 2rem;
    color: #ffffff;
    letter-spacing: 0.1em;
}
}

.headline-section {
  text-align: center;
  margin: 4rem;
  background: linear-gradient(135deg, #ff6a00, #ffd500);
  padding: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  color: white;
  animation: pop-in 1s ease;
}

.headline-section h1 {
  font-size: clamp(2rem, 4vw + 1rem, 3rem);
  font-weight: 900;
  color: #005bac;
}

.headline-section h2 {
  font-size: clamp(1.6rem, 2.5vw + 1rem, 2.4rem);
  margin-bottom: 0.5rem;
  font-weight: 900;
}

.headline-section h3 {
  font-size: clamp(1.2rem, 2vw + 0.5rem, 1.8rem);
  margin-bottom: 0.3rem;
  font-weight: 700;
}

.headline-section.blue {
  background: linear-gradient(135deg, #0d0937, #8d9fc7);
  padding: 3rem 2rem;
  margin: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  text-align: center;
  box-shadow: 6px 6px 20px 0px rgb(0 0 0 / 70%);
}

.headline-subtitle {
  font-size: 2.4rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0.05em;
  text-align: center;
}

.headline-main {
  font-size: 3.2rem;
  font-weight: 900;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.08em;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  text-align: center;
  word-break: break-word;
}


@media screen and (max-width: 768px) {
  .headline-section.blue {
    padding: 2rem 1rem;
    margin: 2rem 1rem;
  }

  .headline-subtitle {
    font-size: 1.6rem;
    line-height: 1.4;
    text-align: left;
  }

  .headline-main {
    font-size: 2.4rem;
    line-height: 1.4;
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .headline-subtitle {
    font-size: 1.4rem;
  }

  .headline-main {
    font-size: 2rem;
  }
}
@keyframes pop-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ----------Products---------- */
p.recommend_etc_com {
    margin-left: 4rem;
    color: white;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.product-card {
  background: #fff;
  border-radius: 10px;
  padding: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  box-shadow: 6px 6px 20px 0px rgb(0 0 0 / 70%);
}

.product-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.product-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.product-title {
}

.product-catch {
}

.product-detail-group,
.product-price-group {
  /* display: grid; */
  grid-template-columns: 6.5rem 1fr;
  /* font-size: 0.9rem; */
}

.product-detail,
.product-price-item {
  font-weight: 600;
}

.product-price-value {
  font-weight: 700;
  text-align: right;
  color: #700;
}

.tax-price {text-align: right;}

.product-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.product_list_sign2 {
  background-color: #f28c38;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-size: 0.85em;
  font-weight: bold;
}

/* ----------  Merits Grid ---------- */
.merits {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  margin: 0 .8rem;
}

@media (min-width: 768px) {
  .merits {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }
}

.merit {
  background: #fff;
  border-radius: 10px;
  padding: 1.25rem;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-shadow: 6px 6px 20px 0px rgb(0 0 0 / 70%);
}

.merit-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
  background: linear-gradient(135deg, #005bac, #00c3ff);
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,.25);
  user-select: none;
}

.merit-num {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1;
}

.merit-label {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: .9;
  margin-top: .1em;
  letter-spacing: .1em;
}

.merit-body {
  flex-grow: 1;
  width: 100%;
}

.merit-title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #005bac;
  margin-bottom: .5rem;
  text-align: center;
  letter-spacing: 0.1em;
}

.merit-body p {
  text-align: left;
  margin: 0;
}
@media screen and (max-width: 768px) {
.merit-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #005bac;
  margin-bottom: .5rem;
  text-align: center;
  letter-spacing: 0.1em;
}
.merit-body p {
  text-align: left;
  margin: 0;
  font-size: 1.5rem;
}


}
.merit-image img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
  display: block;
}



/*news*/
.box_inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 3.2rem 2.4rem;
    align-content: flex-start;
    /* box-shadow: 1px 1px 3px rgb(0 0 0 / 50%); */
    /* margin: 2rem; */
}
@media screen and (max-width: 820px){
.box_inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 3.2rem 1rem;
    align-content: flex-start;
    /* box-shadow: 1px 1px 3px rgb(0 0 0 / 50%); */
}
}
.info ul {
    border: 1px solid #808080;
    background: #fffdfb;
    width: 100%;
    box-shadow: 14px 20px 2px rgb(0 0 0 / 70%);
    padding: 1.2rem;
    border-radius: 8px;
}

.info ul li::before {
    content: "■";
    color: #836d43;
    margin-right: 8px;
    display: inline-block;
}

.info li {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    gap: 8px;
}

.info li:last-child {
    border-bottom: none;
}

.info a {
    padding: 0.5em;
    color: #900;
    text-decoration: none;
}

.info a:hover {
    color: #1b12ec;
    font-weight: 500;
}

@media (max-width: 980px) {
    .info li {
        display: block;
        text-align: left;
        padding: 10px;
    }

    .info ul li::before {
        display: inline;
        margin-right: 8px;
    }.
}


/*flow*/
section#Strengths {
    background: white;
}

.etc_flow_inner {
    margin: 8rem 4rem;
}
.etc_flow_boxes {
    position: relative;
    margin: 35px 0 0;
    border-radius: 8px;
    background: #fff;
    -webkit-box-shadow: 9px 15px 30px 0px rgba(25, 146, 212, 0.18);
    box-shadow: 6px 6px 20px 0px rgb(0 0 0);
}
.etc_flow_boxes + .etc_flow_boxes {
    margin-top: 45px;
}
@media (min-width: 768px) {
.etc_flow_boxes {
    margin-top: 40px;
}
  .etc_flow_boxes + .etc_flow_boxes {
    margin-top: 65px;
  }
}
.etc_flow_boxes + .etc_flow_boxes::before {
  content: "";
    display: inline-block;
    position: absolute;
    top: -27px;
    right: 0;
    left: 0;
    margin: auto;
    border-width: 10px 14px 0 14px;
    border-style: solid;
    border-color: #bbcadb transparent transparent transparent;
    width: 0;
    height: 0;
}
    @media (min-width: 768px) {
  .etc_flow_boxes + .etc_flow_boxes::before {
    top: -40px;
    border-width: 15px 15px 0 15px;
  }
}

.sectionFlow_inner {
    position: relative;
    padding: 34px 25px 36px;
}
    h3.etc_Flow_subttl_sub {
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    color: #fff;
    background: #0b2f80;
    -webkit-box-shadow: 5px 5px 0 #00b5ff;
    box-shadow: 5px 5px 0 #00a9ff;
    font-size: 28px;
    font-size: 3.2vw;
}
    @media (min-width: 768px) {
  .sectionFlow_inner {
    padding: 30px 50px 40px;
    background: black;
  }
}
@media (min-width: 768px) {
  .sectionFlow_inner.-no_heading {
    padding: 45px 50px;
  }
}

.sectionFlow_h {
    padding-bottom: 20px;
    text-align: center;
    font-family: "Hiragino Kaku Gothic W7 JIS2004", Meiryo;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.6;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.sectionFlow_icon_img {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* 見出しとアイコンの間に余白を追加 */
}
@media (min-width: 768px) {
.sectionFlow_h {
    display: flex;
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

.sectionFlow_icon_img {
    width: 70px;
    height: 70px;
    margin-right: 10px; /* 見出しとアイコンの間に余白を追加 */
    filter: brightness(0) invert(1);
}
}

.sectionFlow_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: -25px;
    left: -15px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background: linear-gradient(to right, #300, #500, #900);
    text-align: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
    @media (min-width: 768px) {
  .sectionFlow_icon {
    top: -35px;
    left: -15px;
    width: 100px;
    height: 100px;
  }
}

.sectionFlow_icon_txt {
    line-height: 1;
    margin-top: 8px;
}
    @media (min-width: 768px) {
  .sectionFlow_icon_txt {
    font-size: 2.2rem;
  }
}

.sectionFlow_icon_no {
    display: block;
    margin-top: -1px;
    font-size: 2.5rem;
    line-height: 1;
}
    @media (min-width: 768px) {
  .sectionFlow_icon_no {
    margin-top: 0;
    font-size: 4rem;
  }
}

.sectionFlow_txts {
    padding: 20px 0 0;
    border-top: 1px solid #dbdbdb;
}
    @media (min-width: 768px) {
  .sectionFlow_txts {
    padding-top: 25px;
    border-width: 2px;
  }
}
.sectionFlow_txts + .sectionFlow_txts {
    border-top: 0;
}

.sectionFlow_txt {
    position: relative;
    font-size: 1rem;
    line-height: 1.5;
}
    @media (min-width: 768px) {
  .sectionFlow_txt {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}
.sectionFlow_txt:not(:
    first-of-type) {
  margin-top: 4px;
}
    @media (min-width: 768px) {
  .sectionFlow_txt:not(:first-of-type) {
    margin-top: 12px;
  }
}
.sectionFlow_txt.-list {
    padding-left: 13px;
    font-size: 2rem;
}
    @media (min-width: 768px) {
  .sectionFlow_txt.-list {
    padding-left: 15px;
    color: aliceblue;
  }
}
.sectionFlow_txt.-list::
    before {
  content: "";
    position: absolute;
    top: 5px;
    left: 0;
    border-radius: 50px;
    width: 7px;
    height: 7px;
}
    @media (min-width: 768px) {
  .sectionFlow_txt.-list::before {
    top: 6px;
    width: 8px;
    height: 8px;
  }
}


/*-FAQ-*/
.etc_faq_inner {
    margin: 2rem;
}

details {
  --arrow-size: 18px;
  --anime-speed: 0.3s;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 70%);
}

details summary {
  box-sizing: border-box;
  position: relative;
  display: block;
  font-weight: 700;
  padding: 1.5em calc(var(--arrow-size) + 3em) 1.5em 3.5em;
  background: #fff;
  border: 1px solid #a4a4a5;
  cursor: pointer;
  margin-top: 20px;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  content: "Q.";
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  color: #700;
}

details summary .ico {
  position: absolute;
  top: 0;
  right: 1.5em;
  bottom: 0;
  display: block;
  width: var(--arrow-size);
  height: calc(var(--arrow-size) * 0.6);
  margin: auto;
  background: #0a64be;
  clip-path: polygon(100% 13%, 50% 100%, 0 13%, 8% 0, 50% 73%, 92% 0);
  transition: transform var(--anime-speed);
}

details[open] summary .ico {
  transform: rotate(180deg);
}

details .inner {
  position: relative;
  padding: 1.5em 1.5em 1.5em 3.5em;
  background: #fefefe;
  overflow-wrap: break-word;
  border: 1px solid #a4a4a5;
}

details .inner::before {
  content: "A.";
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  font-weight: 700;
  color: #700;
}

/*info*/
.list-c2 > a {
    text-decoration: none;
    display: block;
}
@media screen and (min-width:820px) {
.list-c2 {
    display: flex;
    gap: 2vw;
    margin: 2rem;
}
}

.list-c2 .list {
    text-align: center;
    position: relative;
    overflow-y: hidden;
    color: #fff;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    padding: 5rem 2rem;
    margin: 2rem;
    border-radius: 8px;
}

@media screen and (min-width:820px) {
.list-c2 > * {
    flex: 1;
}
.list-c2 .list {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-c2 > a .list {
    height: 100%;
}
.list-c2 .list:nth-of-type(1) {
    border-radius: 8px;
}
.list-c2 .list:nth-of-type(2) {
    border-radius: 8px;
}

}
.list-c2 .list.image1 {
    background: url("../img/top/topic1.jpg") no-repeat center center / cover;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}
.list-c2 .list.image2 {
    background: url("../img/top/topic2.jpg") no-repeat center center / cover;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}
.list-c2 .list.image3 {
    background: url("../img/top/topic3.jpg") no-repeat center center / cover;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}

/*h4_title*/
.list-c2 h4 {
    line-height: 1.2;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.list-c2 h4 .main-text {
    display: block;
    font-size: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}


@media screen and (min-width:820px) {
.list-c2 h4 .main-text {
    font-size: 4rem;
}
}

.list-c2 .list .text {
    position: relative;z-index: 1;
    font-size: 0.85rem;
}
.list-c2 .list::before {
	content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;
	background: rgba(0, 0, 0, 0.75);
	transition: transform 0.3s 0.1s;
}
.list-c2 .list:hover::before {
	transform: translateY(100%);
}
/*btn1*/
.btn1 {
    position: relative;
}

.btn1 a {
    text-shadow: none;
    display: block;
    text-decoration: none;
    background: #700;
    color:#fff;
    font-size: 1.7rem;
    padding: 1.2rem 3.6rem;
    border-radius: 10px;
    text-align: center;
    font-weight: 900;
    white-space: nowrap;
    width: fit-content; /* テキストに合わせた幅 */
    margin: auto;

}

.btn1 a:hover {
    opacity: 1;
    transform: scale(1.05);
    background:#0d0937;
    color:#ffffff;
}

.round_arrow {
    position: relative;
    padding-right: 10px;
}
 
.round_arrow::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 3px;
    background: #300;
}
 
.round_arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-800%, -50%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
}

/*guidance*/
.guidance-list {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    max-width: 100%;
    box-sizing: border-box;
}

.guidance-item {
    box-sizing: border-box;
    text-align: center;
    flex: 1 1 calc(33.33% - 1.5rem);
    max-width: calc(33.33% - 1.5rem);
    min-width: 15rem;
    padding: 2rem 1rem 6rem;
    background: #000000;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}

.guidance-link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    background: #fff;
    color: #700;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

.guidance-link:hover {
    background: #7d79a0;
    color: #fff;
}

@media (max-width: 820px) {
    .guidance-list {
        padding: 0 1rem;
    }

    .guidance-item {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 2rem 1rem 7rem;
    }
}

.guidance-item p {
    text-align: left;
    margin: 0;
    word-break: break-word;
    line-height: 1.5;
}

/*search*/

.search-form {
  background: #f7f7f7;
  padding: 2em;
  border-radius: 8px;
  margin: 0 2rem;
}

.search-group {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 2em;
}

.search-column {
  flex: 1;
  /* min-width: 250px; */
}

.search-column label {
  display: block;
  margin-bottom: 1.2em;
}

.search-column span {
  display: block;
  margin-bottom: 0.4em;
  font-weight: bold;
  color: #444;
}

.search-column select {
  width: 100%;
  padding: 0.6em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-button {
  text-align: center;
  margin-bottom: 2em;
}
.search-button .btn {
  background: #333;
  color: #fff;
  padding: 0.8em 2em;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.search-button .btn:hover {
  background: #555;
}

/*TXT_search*/
.text-search {
  border-top: 1px solid #ccc;
  padding-top: 2em;
}
.text-search h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #333;
}
.text-search-box {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.text-search-box input {
  flex: 1;
  padding: 0.6em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.text-search-box .btn {
  background: #666;
  color: #fff;
  padding: 0.6em 1.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.text-search-box .btn:hover {
  background: #444;
}

@media (max-width: 820px) {
  .search-group {
    flex-direction: column;
  }
}


/* お問い合わせセクション（ダークテーマ） */
.contact-section.dark {
  background-color: #2b2b2b;
  color: #fff;
  padding: 3em 1em;
  border-top: 4px solid #444;
}
.contact-title {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #fff;
}
.contact-title i {
  margin-right: 0.5em;
  color: #fff;
}
.contact-info {
  font-size: 1em;
  line-height: 1.8;
}
.contact-info strong {
  font-weight: bold;
  color: #fff;
}
.contact-info a {
  color: #fff;
  text-decoration: underline;
}
.contact-info a:hover {
  color: #ccc;
}

/* フッター */
.site-footer {
  background-color: #111;
  color: #888;
  text-align: center;
  padding: 2em 1em;
  font-size: 0.9em;
}
.footer-text {
  margin: 0;
}




/*pagetop*/
#pagetop {
    position: fixed;
    bottom: 80px;
    right: 10px;
    z-index: 99;
}
#pagetop a {
    display: block;
    background: #700;
    width: 50px;
    padding: 10px 5px;
    text-align: center;
    white-space: nowrap;
    color: white;
    text-decoration: none;
}
#pagetop a:hover {
    background: #3b3480;
}


